.header {
    background-color: #0f5738 !important;
}

.card_body {
    background-color: #f58300  !important;
    font-family: "Kavivanar", cursive;
    margin-top: 20px;
    margin-left: 20%;
    text-align: center;
    width: 60%;
}

.card_title {
    font-family: "Coiny", cursive;
    text-align: center;
    text-decoration: underline;
    color: white;
}
h2 {
    margin-top: 20px;
    font-family: "Kavivanar", cursive;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}
.item {
    font-size: small;
    width: 300px;
    height: 400px;
    display: inline-block;
    line-height: normal;
    margin: 5px;
    text-align: left;
}
.image-box {
    margin-left: 25px;
    margin-top: 25px;
}
.item p {
    margin-bottom: 0rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image1 {
    position: relative;
    height: 250px;
    width: 250px;
    top: 0;
    left: 0;
}
.image2 {
    position: absolute;
    height: 185px;
    width: 180px;
    top: 26px;
    left: 33px;
}

.img-logo {
    height: 100;
    width: 200px;
}
.list {
    margin: auto;
    text-align: center;
    width: 95%;
}
.img-bg {
    position: absolute;
    z-index: 20;
    opacity: 0.15;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card_body {
        margin-left: 5%;
        width: 90%;
    }
}


.card1-img{
    height: 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}



/* tamil */
@font-face {
    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/coiny/v6/gyByhwU1K989PUwKGFWfOw.woff2) format('woff2');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}

/* tamil */
@font-face {
    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/kavivanar/v6/o-0IIpQgyXYSwhxP7_Jr8zRAW_0.woff2) format('woff2');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* tamil */
@font-face {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/arimamadurai/v6/t5tmIRoeKYORG0WNMgnC3seB3SjPr6OH.woff2) format('woff2');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* tamil */
@font-face {
    font-family: 'Baloo Thambi';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/baloothambi/v7/va9B4kXJzNhTFoA7CYcS8sHeUBf6TF0.woff2) format('woff2');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* tamil */
@font-face {
    font-family: 'Mukta Malar';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/muktamalar/v7/MCoXzAXyz8LOE2FpJMxZqIvpJ_U5wA.woff2) format('woff2');
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}