@page "/category"
@using EelamHeroes.Repository.Interface
@using System.Security.Policy
@inject IPostRepository PostRepository
@if (categories == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="container" style="margin-top: 60px">
        <div class="intro">
            <h2 class="text-center mb-4" style="margin-top: 60px">Post Categories</h2>
        </div>
        <div class="row projects">
            @foreach (var category in categories)
            {
                
                <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
                    <div class=" mb-3" style="width: 100% !important;">
                        <div class="main-card">
                            <a href="/category/@category.Id">
                                <div class="image-top" style="background-image:url('@category.ImagePath.Replace("\\", "/")'), url('https://www.suntip.nl/assets/img/image-not-found.png')">
                                </div>
                                <div class="card-head">
                                    <p class="title">@category.Name</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
<style>
    
    .card-head{
        font-weight: 700;
        color: black;
        padding: 6px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: 'Arima Madurai', cursive;
    }
    .title{
        margin-bottom: 0;
        font-size: 1.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black !important;
    text-align: center;
    }
    .image-top{
        -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: center;
            
         min-height: 225px;
        }
</style>
@code {
    private IEnumerable<Models.Entity.Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await PostRepository.GetCategories();
    }

}