@page "/category"
@using EelamHeroes.Repository.Interface
@inject IPostRepository PostRepository
@if (categories == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Post Categories</h2>
        </div>
        <div class="row projects">
            @foreach (var category in categories)
            {
                <div class="col-sm-6 col-lg-4 item">
                    <a class="img-hover-zoom--brightness" href="category/@category.Id">
                            <img class="img-card" src="@category.ImagePath"/>
                        <h3 class="name">@category.Name</h3>
                    </a>
                </div>
            }

            @*<div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="img/09.jpg"/>
            <h3 class="name">Project Name</h3>
            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
        </div>
        <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="img/09.jpg"/>
            <h3 class="name">Project Name</h3>
            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
        </div>*@
        </div>
    </div>
}

@code {
    private IEnumerable<Models.Entity.Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await PostRepository.GetCategories();
    }

}