@page "/category"
@using EelamHeroes.Repository.Interface
@inject IPostRepository PostRepository
@if (categories == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="container" style="margin-top: 60px">
        <div class="intro">
            <h2 class="text-center mb-4" style="margin-top: 60px">Post Categories</h2>
        </div>
        <div class="row projects">
            @foreach (var category in categories)
            {
                <div class="col-sm-6 col-lg-4 item">
                    <a class="img-hover-zoom--brightness" href="category/@category.Id">
                        <img class="img-card" src="@category.ImagePath"/>
                        <h3 class="name">@category.Name</h3>
                    </a>
                </div>
            }
        </div>
    </div>
}

@code {
    private IEnumerable<Models.Entity.Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await PostRepository.GetCategories();
    }

}