@page "/"

<div class="row no-gutters">
    <div class="col-sm-6">
        <div class="home-image">
            <img class="img-fluid" src="./img/10.jpg"/>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="home-side">
            <div class="row mx-auto mt-10">
                <div class="col-sm-3">
                    <img src="./img/KALRAI.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-3">
                    <p class="maveera ">
                        22390
                        <span class="maveera-in">மாவீரர்கள்</span>
                    </p>

                </div>
                <div class="col-sm-3">
                    <img src="./img/Vilaku.png" alt="" class="img-fluid">

                </div>
                <div class="col-sm-3">
                    <p class="maveera ">
                        27
                        <span class="maveera-in">மாவீரர் துயிலுமில்லங்கள்</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <h4 class="home-rem">லெப்டினன்ட் சங்கர்(சுரேஸ்)</h4>
            </div>
            <hr>
            <div class="col-sm-12">
                <p class="about-text">
                    தமிழீழ தேசத்தின் விடியலுக்காய் தம்முயிரை ஈன்ற மானமாவீரர்களின் தரவுகளை இலகுவழியில் நெறிமுறைப்படுத்துவதே எமது நோக்கமாகும்.
                </p>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-6 ">
                    <form class="form-inline my-2 my-lg-0 mx-auto" action="/search">
                        <div class="search-holder">
                            <button type="submit">
                                <span></span>
                            </button>
                            <div class="input-holder">
                                <input name="name" @bind="searchValue" type="search" @bind:event="oninput" placeholder="தேடல்" class="search-input">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <h3></h3>
                    <a href="/search" class="link" id="suggest-random-casualty">மாவீரர் விபரம் <span class=""></span></a>


                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    string searchValue;
}